@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,700&family=Urbanist:wght@200;400&display=swap');

.visually-hidden:not(:focus):not(:active),
input[type="checkox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 200;
  &-body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    //background-color: #262626;
  }
}

.container {
  width: 1440px;
  padding: 0 15px;
  margin: 0 auto;
}

.main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  flex: 0 0 auto;
}

.header {
  &__inner {
    display: flex;
    justify-content: space-between;
  }
}

.avatar {
  margin-top: 15px;
}
