@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,700&family=Urbanist:wght@200;400&display=swap");
.visually-hidden:not(:focus):not(:active),
input[type=checkox].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

.page {
  height: 100%;
  font-family: "Ubuntu", sans-serif;
  font-weight: 200;
}
.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 930px;
  padding: 50px 15px;
  margin: 0 auto;
}

.header {
  flex: 0 0 auto;
  margin-bottom: 0;
}
.header__inner {
  display: flex;
  justify-content: center;
}

.main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main__inner {
  display: flex;
}

.container__inner {
  display: flex;
}

.footer {
  flex: 0 0 auto;
}

.avatar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.avatar-jobtitle {
  position: absolute;
  bottom: -32px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #f3b900;
  padding: 5px 10px;
}

.about {
  display: flex;
  flex-direction: column;
  background-color: #e7e7e7;
  width: 600px;
}
.about__name {
  font-size: 54px;
  line-height: 50px;
  margin: 50px 40px 10px 55px;
}
.about__jobtitle {
  width: 188px;
  margin: 10px 40px 10px 55px;
  padding: 5px 10px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #f3b900;
}
.about__title {
  position: relative;
  text-transform: uppercase;
  padding: 10px 0 10px 55px;
}
.about__title::before {
  position: absolute;
  content: "";
  left: 55px;
  bottom: -4px;
  width: 30px;
  height: 3px;
  background-color: #f3b900;
}
.about__sub {
  padding-left: 55px;
  margin-bottom: 0;
}

.h2 {
  position: relative;
  margin-bottom: 50px;
}
.h2::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -20px;
  width: 30px;
  height: 3px;
  background-color: #f3b900;
}

.section-left {
  width: 300px;
}
.section-right {
  margin: 17px 0 0 0;
  width: 600px;
}

.education {
  padding: 20px 0 35px 35px;
  color: #fff;
  background-color: #2c2c2c;
}

.expertise {
  padding: 10px 0 20px 35px;
  background-color: #e7e7e7;
}
.expertise__skill-list {
  padding: 0;
  margin: 0;
}
.expertise__skill-item {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.expertise__skill-item:nth-child(1) .expertise__bar {
  width: 75%;
}
.expertise__skill-item:nth-child(2) .expertise__bar {
  width: 60%;
}
.expertise__skill-item:nth-child(3) .expertise__bar {
  width: 50%;
}
.expertise__skill-item:nth-child(4) .expertise__bar {
  width: 55%;
}
.expertise__skill-item:nth-child(5) .expertise__bar {
  width: 45%;
}
.expertise__skill-item:nth-child(6) .expertise__bar {
  width: 40%;
}
.expertise__skill-item:nth-child(7) .expertise__bar {
  width: 50%;
}
.expertise__text {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  margin: 12px 0;
}
.expertise__scale {
  margin-top: 20px;
  margin-right: 30px;
  height: 5px;
  width: 140px;
  background-color: #2c2c2c;
}
.expertise__bar {
  width: 60%;
  height: 5px;
  background-color: #f3b900;
}

.experience {
  margin-left: 55px;
  margin-bottom: 50px;
}
.experience__work {
  margin-bottom: 50px;
}
.experience__job-title {
  margin-bottom: 5px;
}
.experience__job-desc {
  display: flex;
  align-items: center;
  gap: 10px;
}
.experience__job-date {
  font-weight: 700;
  padding: 5px 10px;
  background-color: #f3b900;
  margin: 5px 0;
}
.experience__job-company {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  margin: 5px 0;
}
.experience__job-text {
  margin: 10px 0;
}

.courses {
  margin-left: 55px;
  margin-bottom: 50px;
}
.courses__text {
  margin: 10px 0;
}
.languages {
  margin-left: 55px;
  margin-bottom: 50px;
}
.languages__text {
  margin: 10px 0;
}
.section-footer {
  margin: 0;
  padding: 35px 0 20px 0;
  background-color: #e7e7e7;
}

.contact-list {
  position: relative;
  margin-left: 110px;
}
.contact-list__item {
  position: relative;
  margin-bottom: 15px;
}
.contact-list__item::before {
  position: absolute;
  content: "";
  left: -75px;
  top: 0;
  width: 50px;
  height: 75px;
  background-color: #f3b900;
}
.contact-list__item:nth-child(1) .contact-name::before {
  position: absolute;
  content: "";
  left: -62px;
  top: 10px;
  width: 30px;
  height: 30px;
  background-image: url("../assets/png/mail.png");
  background-repeat: no-repeat;
}
.contact-list__item:nth-child(2) .contact-name::before {
  position: absolute;
  content: "";
  left: -63px;
  top: 10px;
  width: 30px;
  height: 30px;
  background-image: url("../assets/png/telegram.png");
  background-repeat: no-repeat;
}
.contact-list__item:nth-child(3) .contact-name::before {
  position: absolute;
  content: "";
  left: -62px;
  top: 10px;
  width: 30px;
  height: 30px;
  background-image: url("../assets/png/discord.png");
  background-repeat: no-repeat;
}
.contact-list__item:nth-child(4) .contact-name::before {
  position: absolute;
  content: "";
  left: -62px;
  top: 10px;
  width: 30px;
  height: 30px;
  background-image: url("../assets/png/location.png");
  background-repeat: no-repeat;
}
.contact-name {
  margin: 0;
}
.contact-name__item {
  margin: 3px 0;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 15px;
  padding: 20px 15px 20px 15px;
  background-color: #2c2c2c;
}
.footer .school-link {
  padding: 5px;
}
.footer p {
  color: #fff;
}
.footer .dev-link {
  padding: 5px;
}

a {
  color: #2c2c2c;
  transition: all ease-in 0.2s;
}
a:active {
  color: #f3b900;
}
a:hover {
  color: #2c2c2c;
  background-color: #ffc616;
}
a:visited {
  color: #bd4200;
}
a:visited:hover {
  color: #2c2c2c;
}

/*# sourceMappingURL=style.css.map */
